@using SoVet.BlazorWebClient.Models.Appointment
@using SoVet.BlazorWebClient.Extensions
@inject IAppointmentService AppointmentService;
@if (!_isLoaded)
{
    <MudProgressLinear/>
    return;
}
<div class="ma-5">
    <MudGrid Class="mb-3" Spacing="2">
        <MudItem xs="12">
            <MudText Typo="Typo.h4" Color="Color.Primary" Style="font-weight: bold">Шарик</MudText>
        </MudItem>
        <MudItem xs="12">
            <MudStack Row>
                <MudText Typo="Typo.h6" Color="Color.Secondary" Style="font-weight: bolder">Возраст (мес.):</MudText>
                <MudText Typo="Typo.h6" Color="Color.Primary" Style="font-weight: bold">2</MudText>
            </MudStack>
        </MudItem>
    </MudGrid>
    
    @* Таблица с приемами *@
    <MudDataGrid @ref="_dataGrid" Striped="true" T="AppointmentTable" Items="_appointments">
        <Columns>
            <PropertyColumn Property="x => x.CreationDate" Title="Дата"/>
            <PropertyColumn Property="x => x.VeterinarianName" Title="Ветеринар"/>
            <TemplateColumn Title="Статус">
                <CellTemplate>
                    @if (context.Item.Status > -1)
                    {
                        var status = (AppointmentStatus)context.Item.Status;
                        <MudChip Style="@($"color:#FFFFFF; background:{StatusColors.StatusColor[status]};")">@status.GetDisplayName()</MudChip>
                    }
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn>
                <CellTemplate>  
                    <MudIconButton Icon="@Icons.Material.Filled.MoreHoriz" Color="Color.Secondary" Variant="Variant.Filled" 
                                   OnClick="@Change"/>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
</div>

@code {
    [Parameter]
    public EventCallback<AppointmentTable> AppointmentSelect { get; set; }
    [Parameter]
    public int PatientId { get; set; }

    private AppointmentTable _appointment = new();

    private List<AppointmentTable> _appointments = null!;
    private MudDataGrid<AppointmentTable> _dataGrid = null!;
    private bool _isLoaded;
    
    protected override async Task OnInitializedAsync()
    {
        _appointments = await AppointmentService.GetAppointments(PatientId);
        _isLoaded = true;
        await base.OnInitializedAsync();
    }

    private void Change()
    {
        AppointmentSelect.InvokeAsync(_appointment);
    }
}